<div class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Beerception</a>
    <button class="navbar-toggler" (click)="collapse = !collapse" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [class.collapse]="collapse">
      <ul class="nav navbar-nav ml-auto">
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/create-beerception" title="Create new beerception"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a href="javascript:void(0)" (click)="open(rulesModal)" class="nav-link" title="Rules"><i class="fa fa-question-circle-o fa-lg" aria-hidden="true"></i></a>
        </li>
        <li *ngIf="!hasSignedIn()" routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li *ngIf="hasSignedIn()" ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ userName() }}
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/profile">Profile Info</a>
            <a class="dropdown-item" routerLink="/change-password">Change Password</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:void(0)" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #rulesModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Rules</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="bs-component">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Same user cannot take two photos in the row.
            <span class="badge badge-primary badge-pill">1</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Only the latest photo can be beerup-ed or beerdown-ed.
            <span class="badge badge-primary badge-pill">2</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            If photo has -10 score, photo gets deleted from server. Previous photo takes it place.
            <span class="badge badge-primary badge-pill">3</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            It is up to users to keep up the good beerception practice.
            <span class="badge badge-primary badge-pill">4</span>
          </li>
        </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="c('Close click')" type="button" class="btn btn-outline-dark">Close</button>
  </div>
</ng-template>